PORT=5000
JWT_SECRET=ealzPcub26GMCC99JiFfFsv/OVF2DX5s6+N6jRfUIQ4UrNd6J+YpCBhbs7q6GVYISFfHlKA8sIN7tmaXsmQsYw==
SUPABASE_URL=https://ftkjmxgagxialuaqhvps.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0a2pteGdhZ3hpYWx1YXFodnBzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzgxNzExMSwiZXhwIjoyMDk5MzkzMTExfQ.0v8Nc4FRgG9A-QaPWjP1CUx5VjrflGf-1IVH6DnsOfs
